{% load i18n %}
<script type="text/javascript"> 
$(document).ready(function(){
	$("#id_title").attr("required", "true");
	$("#id_deadline").attr("mask", "datemask");
	
	$('#projectform').formValidation({
		err_class: "invalidInput",
		display_alert: false
	});
});
</script> 

<div class="formErrors">
	{% if form.title.errors %}{% trans "Project name wasn't entered" %}<br />{% endif %}
	{% if form.errors %} {{ form.errors }} {% endif %}
</div>

<div class="editformWrapper" style="width:800px">
<form method="post" id="editform">
	<table id="editform_table" cellspacing="0">
	<tr>
		<th><label for="id_title"><span class="red">*</span> {% trans "Project" %}:</label></th>
		<td>{{form.title}}</td>
	</tr>
    <tr>
        <th style="width:180px"><span class="red">*</span> <label for="id_users">{% trans "Users" %}:</label><br /><span style="color:#999">{% trans "(Super users have access even if they aren't added to the project)" %}</span></th>
        <td>{{form.users}}</td>
    </tr>	
	<tr>
		<th style="padding-top: 30px"><label for="id_info">{% trans "Description" %}:</label></th>
		<td>{% include "todo/wysiwyg.html" %} {{form.info}}</td>
	</tr>
	<tr>
	   <th style="padding-top: 30px">{% trans "Description preview" %}:</th>
	   <td><div class="wmd-preview"></div></td>
	 </tr>
	<tr>
		<th></th>
		<td style="padding-top:10px"><input type="submit" value="{% trans 'Save' %}" class="button" /><a href="{% if add %}{% url projects_list %}{% else %}{% url project_details project.id %}{% endif %}">{% trans "cancel" %}</a></td>
	</tr>
	</table>
</form>
</div>

{% if add %}
<script language="javascript">
	document.getElementById('id_title').focus();
</script>
{% endif %}