{% extends "todo.html" %}
{% load i18n %}

{% block extra_media %}{{form.media}}{% endblock %}

{% block title %}{% if add %}{% trans "New task" %}{% else %}{% trans "Edit task" %} "{{task}}"{% endif %}{% endblock %}

{% block content %}

<h1>{% if add %}{% trans "New" %}{% else %}{% trans "Edit" %}{% endif %} {% trans "task" %}</h1>

{% if no_available_projects %}
{% trans "You have no available projects for adding the task." %}<br />
{% trans "Ask administrator to include you into the projects." %}
{% else %}
	{% include "todo/task_form.html" %}
{% endif %}

{% endblock %}