{% load todo_extras i18n %}
<html>
<head>
<title>{% trans "Authorization" %} | openissues</title>
<style type="text/css">
body {
  text-align: center;
  background-color: #eee;
}
body, td {
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
input#id_username, input#id_password {
	width: 200px;
	font-size:11pt;
}
label {
	color: #888; font-family: Tahoma;
}
.logo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	padding-bottom: 10px;
	color: #000;
}
#content {
  text-align: left;
  width: 400px;
  margin: 100px auto;
}
</style>
<script language="javascript"> 
function setFocus() {
	if (document.getElementById("id_username").value == "") {
		document.getElementById("id_username").focus();
	} else if (document.getElementById("id_password").value == "") {
		document.getElementById("id_password").focus();
	}
{% ifequal HOST 'demo.opentodo.ru' %}
//	если демо-версия - автологин
	document.getElementById("id_username").value = 'demo';
	document.getElementById("id_password").value = 'demo';
	document.getElementById("id_submit").focus();
	document.getElementById("id_loginform").submit();
{% endifequal %}
}
</script> 
</head>
<body onLoad="setFocus();">
<div id="content">
<table cellspacing=0 width=400 align=center><tr><td style="border: 5px solid #ddd; padding-left: 31; padding-bottom: 30; padding-top: 22;background-color: #fff"> 
	{% if not user.is_authenticated %}
		{% if form.errors %}
		  <div class="error">{% trans "Incorrect username or password. Or both." %}</div>
		{% endif %}
		<form method="post" action="." id="id_loginform">
		<table>
		<tr><td></td><td class="logo"><span style="padding-right: 2px;">open</span><b>issues</b></td></tr>
		<tr><td><label for="id_username">{% trans "Login" %}:</label></td><td>{{ form.username }}</td></tr>
		<tr><td><label for="id_password">{% trans "Password" %}:&nbsp;</label></td><td>{{ form.password }}</td></tr>
		<tr><td>&nbsp;</td><td><input type="submit" value="{% trans 'Sign in' %}" id="id_submit" /></td></tr>
		</table>
		<input type="hidden" name="next" value="{{ next }}" />
		</form>
	{% else %}
		{% trans "You've authorized as" %} {{ user|username}})
	{% endif %}
</td></tr></table>
</div>
</body>
</html>